markupsafe==2.0.1  # fix cannot import name 'soft_unicode' from 'markupsafe' error. see: https://github.com/aws/aws-sam-cli/issues/3661
pywebio
cutecharts
pyecharts
plotly==4.6.0
pyg2plot
bokeh
numpy
pandas
colorcet
scipy